<div class="book">
	<div class="book_img">
		<img src=<%= img_url %>>
	</div>

	<div class="book_info">
		<h3><%= title %></h3>
		<pre><%= authors %></pre>
	</div>
	<form action="http://localhost:<%= port %>/removeBook" method="post">
		<input hidden type="input" name="key" value=<%= key ?? "" %>>
		<input type="submit" value="remove">
		<!-- <input type="button" value="remove" onclick="removeBook(key)"> -->
	</form>
</div>