<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="./style.css">

</head>
<body>

<!-- <div class="topnav">
  <a class="active" href=<%=`${buttonName1 == "login" ? "/login" : "/booklist"}`%>> <%- buttonName1 %></a>
  <a href=<%=`${buttonName2 == "Sign up" ? "/signUp" : "/logout"}`%>><%- buttonName2 %></a>
</div> -->

<%- include("./topNavBar") %>

<div id="box1">
  <div id="box2">
    <h1>What book are you looking for?</h1>
    <form action="http://localhost:<%- portNumber %>/search" method="get">
      <label><strong>Book Title: </strong><input type="text" name="title"></label>
      <input type="reset" >
		  <input type="submit" value="Go">
  </form>
  </div>
</div>

</body>
</html>